.form-box {
    width: 360px;
    margin: 80px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.form-box button {
    width: 100%;
    padding: 10px;
    background: #111;
    color: white;
    border: none;
}
