{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MENZONE</title>

    <!-- COMMON STYLES -->
    <link rel="stylesheet" href="{% static 'common.css' %}">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <link rel="stylesheet" href="{% static 'footer.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    <!-- NAVBAR -->
    {% include 'includes/navbar.html' %}

    <!-- PAGE CONTENT -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    {% include 'includes/footer.html' %}

</body>
</html>
